In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)   # mostrar todas las columnas del df
pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

In [2]:
actor = pd.read_csv('./data/actor.csv', encoding = 'latin1')

In [3]:
category = pd.read_csv('./data/category.csv', encoding = 'latin1')

In [4]:
film = pd.read_csv('./data/film.csv', encoding = 'latin1')

In [5]:
inventory =  pd.read_csv('./data/inventory.csv', encoding = 'latin1')

In [6]:
language =  pd.read_csv('./data/language.csv', encoding = 'latin1')

In [7]:
old_hdd =  pd.read_csv('./data/old_HDD.csv', encoding = 'latin1')

In [8]:
rental =  pd.read_csv('./data/rental.csv', encoding = 'latin1')

In [9]:
#Exploración de datos

In [10]:
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [11]:
actor.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.0 KB

In [12]:
actor.drop(columns = 'last_update', inplace = True)

In [13]:
actor.head()

   actor_id first_name     last_name
0         1   PENELOPE       GUINESS
1         2       NICK      WAHLBERG
2         3         ED         CHASE
3         4   JENNIFER         DAVIS
4         5     JOHNNY  LOLLOBRIGIDA

In [32]:
len(actor)

200

In [14]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [15]:
film.rating.unique() #valores únicos de rating

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [16]:
film.drop(columns = 'original_language_id', inplace = True) #es una columna de nulos

In [17]:
film.special_features.unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [18]:
film['deleted scenes'] = ''

In [19]:
film['behind the scenes'] = ''

In [20]:
film['commentaries'] = ''

In [21]:
film['trailers'] = ''

In [22]:
commentaries = []
behind_scenes = []
trailers = []
deleted_scenes = []
for e in film.special_features:
    if 'Deleted Scenes' in e:
        deleted_scenes.append('Y')
    else: 
        deleted_scenes.append('N')
    if 'Behind the Scenes' in e:
        behind_scenes.append('Y')
    else:
        behind_scenes.append('N')
    if 'Trailers' in e:
        trailers.append('Y')
    else:
        trailers.append('N')
    if 'Commentaries' in e:
        commentaries.append('Y')
    else:
        commentaries.append('N')

In [23]:
film['deleted scenes'] = deleted_scenes

In [24]:
film['behind the scenes'] = behind_scenes

In [25]:
film['commentaries'] = commentaries

In [26]:
film['trailers'] = trailers

In [27]:
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,deleted scenes,behind the scenes,commentaries,trailers
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,Y,Y,N,N
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42,Y,N,N,Y
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,Y,N,N,Y
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,N,Y,Y,N
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,Y,N,N,N

In [28]:
film.drop(columns = ['special_features', 'last_update'], inplace = True)

In [33]:
len(film)

1000

In [30]:
category.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [34]:
len(category)

16

In [35]:
category.drop(columns = 'last_update', inplace = True)

In [64]:
inventory.tail(20)

     inventory_id  film_id  store_id
980           981      219         1
981           982      219         1
982           983      219         1
983           984      219         1
984           985      220         1
985           986      220         1
986           987      220         1
987           988      220         1
988           989      220         2
989           990      220         2
990           991      220         2
991           992      220         2
992           993      222         1
993           994      222         1
994           995      222         2
995           996      222         2
996           997      222         2
997           998      222         2
998           999      223         2
999          1000      223         2

In [37]:
len(inventory)

1000

In [38]:
inventory.drop(columns = 'last_update', inplace = True)

In [39]:
language.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [40]:
len(language)

6

In [41]:
language.drop(columns = 'last_update', inplace = True)

In [65]:
old_hdd.head(15)

   first_name last_name                  title  release_year  category_id
0    PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1    PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2    PENELOPE   GUINESS            ANGELS LIFE          2006           13
3    PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4    PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
5    PENELOPE   GUINESS     COLOR PHILADELPHIA          2006            4
6    PENELOPE   GUINESS        ELEPHANT TROJAN          2006           11
7    PENELOPE   GUINESS    GLEAMING JAWBREAKER          2006           15
8    PENELOPE   GUINESS         HUMAN GRAFFITI          2006           10
9    PENELOPE   GUINESS         KING EVOLUTION          2006            8
10   PENELOPE   GUINESS             LADY STAGE          2006           11
11   PENELOPE   GUINESS        LANGUAGE COWBOY          2006            3
12   PENELOPE   GUINESS       MULHOLLAND BEAST          2006            9
13   PENELOPE   GUINESS       OKLAHOMA JUMANJI          2006           13
14   PENELOPE   GUINESS            RULES HUMAN          2006           11

In [45]:
len(old_hdd)

1000

In [44]:
rental.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [46]:
rental.drop(columns = 'last_update', inplace = True)

In [47]:
len(rental)

1000

In [57]:
actor.to_csv('./data/actor.csv', index=False)

In [58]:
film.to_csv('./data/film.csv', index=False)

In [59]:
category.to_csv('./data/category.csv', index=False)

In [60]:
inventory.to_csv('./data/inventory.csv', index=False)

In [61]:
language.to_csv('./data/language.csv', index=False)

In [62]:
old_hdd.to_csv('./data/old_HDD.csv', index=False)

In [63]:
rental.to_csv('./data/rental.csv', index=False)

In [71]:
import mysql.connector as conn

In [73]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.8 MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [74]:
from sqlalchemy import create_engine

In [75]:
str_conn='mysql+pymysql://root:01051997Rm@localhost:3306/videoclub'

cursor=create_engine(str_conn)

In [76]:
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)

200

In [77]:
category.to_sql(name='category', con=cursor, if_exists='replace', index=False)

16

In [78]:
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)

1000

In [79]:
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)

1000

In [84]:
inventory

     inventory_id  film_id  store_id
0               1        1         1
1               2        1         1
2               3        1         1
3               4        1         1
4               5        1         2
5               6        1         2
6               7        1         2
7               8        1         2
8               9        2         2
9              10        2         2
10             11        2         2
11             12        3         2
12             13        3         2
13             14        3         2
14             15        3         2
15             16        4         1
16             17        4         1
17             18        4         1
18             19        4         1
19             20        4         2
20             21        4         2
21             22        4         2
22             23        5         2
23             24        5         2
24             25        5         2
25             26        6         1
26             27        6         1
27             28        6         1
28             29        6         2
29             30        6         2
30             31        6         2
31             32        7         1
32             33        7         1
33             34        7         2
34             35        7         2
35             36        7         2
36             37        8         2
37             38        8         2
38             39        8         2
39             40        8         2
40             41        9         1
41             42        9         1
42             43        9         1
43             44        9         2
44             45        9         2
45             46       10         1
46             47       10         1
47             48       10         1
48             49       10         1
49             50       10         2
50             51       10         2
51             52       10         2
52             53       11         1
53             54       11         1
54             55       11         1
55             56       11         1
56             57       11         2
57             58       11         2
58             59       11         2
59             60       12         1
60             61       12         1
61             62       12         1
62             63       12         2
63             64       12         2
64             65       12         2
65             66       12         2
66             67       13         2
67             68       13         2
68             69       13         2
69             70       13         2
70             71       15         1
71             72       15         1
72             73       15         2
73             74       15         2
74             75       15         2
75             76       15         2
76             77       16         1
77             78       16         1
78             79       16         2
79             80       16         2
80             81       17         1
81             82       17         1
82             83       17         1
83             84       17         2
84             85       17         2
85             86       17         2
86             87       18         1
87             88       18         1
88             89       18         1
89             90       18         2
90             91       18         2
91             92       18         2
92             93       19         1
93             94       19         1
94             95       19         1
95             96       19         1
96             97       19         2
97             98       19         2
98             99       20         1
99            100       20         1
100           101       20         1
101           102       21         1
102           103       21         1
103           104       21         2
104           105       21         2
105           106       21         2
106           107       21         2
107           108       22         1
108           109       22         1
109           110       22         1
110           111       22         1
111           112       22         2
112           113       22         2
113           114       22         2
114           115       23         1
115           116       23         1
116           117       23         1
117           118       23         2
118           119       23         2
119           120       24         1
120           121       24         1
121           122       24         1
122           123       24         1
123           124       25         1
124           125       25         1
125           126       25         1
126           127       25         1
127           128       25         2
128           129       25         2
129           130       26         1
130           131       26         1
131           132       26         2
132           133       26         2
133           134       26         2
134           135       27         1
135           136       27         1
136           137       27         1
137           138       27         1
138           139       28         1
139           140       28         1
140           141       28         1
141           142       29         1
142           143       29         1
143           144       30         1
144           145       30         1
145           146       31         1
146           147       31         1
147           148       31         1
148           149       31         1
149           150       31         2
150           151       31         2
151           152       31         2
152           153       31         2
153           154       32         2
154           155       32         2
155           156       34         2
156           157       34         2
157           158       34         2
158           159       34         2
159           160       35         1
160           161       35         1
161           162       35         1
162           163       35         1
163           164       35         2
164           165       35         2
165           166       35         2
166           167       37         1
167           168       37         1
168           169       37         1
169           170       37         1
170           171       37         2
171           172       37         2
172           173       37         2
173           174       39         1
174           175       39         1
175           176       39         1
176           177       39         2
177           178       39         2
178           179       39         2
179           180       39         2
180           181       40         2
181           182       40         2
182           183       40         2
183           184       40         2
184           185       42         2
185           186       42         2
186           187       42         2
187           188       42         2
188           189       43         1
189           190       43         1
190           191       43         1
191           192       43         2
192           193       43         2
193           194       43         2
194           195       43         2
195           196       44         1
196           197       44         1
197           198       44         2
198           199       44         2
199           200       44         2
200           201       45         1
201           202       45         1
202           203       45         1
203           204       45         1
204           205       45         2
205           206       45         2
206           207       46         2
207           208       46         2
208           209       46         2
209           210       47         2
210           211       47         2
211           212       48         1
212           213       48         1
213           214       48         2
214           215       48         2
215           216       49         1
216           217       49         1
217           218       49         1
218           219       49         2
219           220       49         2
220           221       49         2
221           222       50         1
222           223       50         1
223           224       50         1
224           225       50         2
225           226       50         2
226           227       51         1
227           228       51         1
228           229       51         2
229           230       51         2
230           231       51         2
231           232       51         2
232           233       52         2
233           234       52         2
234           235       53         1
235           236       53         1
236           237       54         1
237           238       54         1
238           239       54         1
239           240       54         2
240           241       54         2
241           242       55         1
242           243       55         1
243           244       55         1
244           245       55         1
245           246       55         2
246           247       55         2
247           248       56         1
248           249       56         1
249           250       56         1
250           251       56         2
251           252       56         2
252           253       57         1
253           254       57         1
254           255       57         1
255           256       57         1
256           257       57         2
257           258       57         2
258           259       57         2
259           260       58         2
260           261       58         2
261           262       58         2
262           263       58         2
263           264       59         1
264           265       59         1
265           266       59         1
266           267       59         2
267           268       59         2
268           269       60         1
269           270       60         1
270           271       60         1
271           272       61         1
272           273       61         1
273           274       61         1
274           275       61         1
275           276       61         2
276           277       61         2
277           278       62         2
278           279       62         2
279           280       63         1
280           281       63         1
281           282       63         2
282           283       63         2
283           284       64         2
284           285       64         2
285           286       64         2
286           287       65         2
287           288       65         2
288           289       65         2
289           290       65         2
290           291       66         1
291           292       66         1
292           293       66         1
293           294       67         1
294           295       67         1
295           296       67         2
296           297       67         2
297           298       67         2
298           299       67         2
299           300       68         1
300           301       68         1
301           302       68         2
302           303       68         2
303           304       69         1
304           305       69         1
305           306       69         1
306           307       69         1
307           308       69         2
308           309       69         2
309           310       69         2
310           311       69         2
311           312       70         1
312           313       70         1
313           314       70         2
314           315       70         2
315           316       71         2
316           317       71         2
317           318       71         2
318           319       71         2
319           320       72         1
320           321       72         1
321           322       72         1
322           323       72         1
323           324       72         2
324           325       72         2
325           326       73         1
326           327       73         1
327           328       73         1
328           329       73         1
329           330       73         2
330           331       73         2
331           332       73         2
332           333       73         2
333           334       74         1
334           335       74         1
335           336       74         1
336           337       74         2
337           338       74         2
338           339       75         2
339           340       75         2
340           341       75         2
341           342       76         1
342           343       76         1
343           344       76         1
344           345       77         1
345           346       77         1
346           347       77         1
347           348       77         1
348           349       77         2
349           350       77         2
350           351       78         1
351           352       78         1
352           353       78         1
353           354       78         2
354           355       78         2
355           356       78         2
356           357       78         2
357           358       79         1
358           359       79         1
359           360       79         1
360           361       79         2
361           362       79         2
362           363       79         2
363           364       80         1
364           365       80         1
365           366       80         1
366           367       80         1
367           368       81         1
368           369       81         1
369           370       81         1
370           371       81         1
371           372       82         1
372           373       82         1
373           374       83         1
374           375       83         1
375           376       83         1
376           377       83         2
377           378       83         2
378           379       84         1
379           380       84         1
380           381       84         1
381           382       84         1
382           383       85         2
383           384       85         2
384           385       85         2
385           386       85         2
386           387       86         1
387           388       86         1
388           389       86         1
389           390       86         1
390           391       86         2
391           392       86         2
392           393       86         2
393           394       86         2
394           395       88         2
395           396       88         2
396           397       88         2
397           398       88         2
398           399       89         1
399           400       89         1
400           401       89         1
401           402       89         2
402           403       89         2
403           404       89         2
404           405       90         1
405           406       90         1
406           407       90         1
407           408       90         2
408           409       90         2
409           410       90         2
410           411       91         1
411           412       91         1
412           413       91         1
413           414       91         1
414           415       91         2
415           416       91         2
416           417       91         2
417           418       91         2
418           419       92         1
419           420       92         1
420           421       92         2
421           422       92         2
422           423       93         2
423           424       93         2
424           425       93         2
425           426       94         1
426           427       94         1
427           428       95         1
428           429       95         1
429           430       95         2
430           431       95         2
431           432       95         2
432           433       96         1
433           434       96         1
434           435       96         1
435           436       97         1
436           437       97         1
437           438       97         1
438           439       97         1
439           440       97         2
440           441       97         2
441           442       98         1
442           443       98         1
443           444       98         1
444           445       99         1
445           446       99         1
446           447       99         1
447           448       99         2
448           449       99         2
449           450       99         2
450           451      100         1
451           452      100         1
452           453      100         1
453           454      100         1
454           455      100         2
455           456      100         2
456           457      101         1
457           458      101         1
458           459      101         1
459           460      101         1
460           461      101         2
461           462      101         2
462           463      102         2
463           464      102         2
464           465      103         1
465           466      103         1
466           467      103         1
467           468      103         1
468           469      103         2
469           470      103         2
470           471      103         2
471           472      103         2
472           473      104         2
473           474      104         2
474           475      104         2
475           476      105         1
476           477      105         1
477           478      105         2
478           479      105         2
479           480      105         2
480           481      106         1
481           482      106         1
482           483      107         2
483           484      107         2
484           485      109         1
485           486      109         1
486           487      109         1
487           488      109         1
488           489      109         2
489           490      109         2
490           491      109         2
491           492      109         2
492           493      110         1
493           494      110         1
494           495      110         1
495           496      110         1
496           497      111         2
497           498      111         2
498           499      111         2
499           500      111         2
500           501      112         1
501           502      112         1
502           503      112         1
503           504      112         1
504           505      112         2
505           506      112         2
506           507      112         2
507           508      113         2
508           509      113         2
509           510      113         2
510           511      113         2
511           512      114         1
512           513      114         1
513           514      114         1
514           515      114         1
515           516      114         2
516           517      114         2
517           518      114         2
518           519      115         1
519           520      115         1
520           521      115         1
521           522      115         2
522           523      115         2
523           524      115         2
524           525      115         2
525           526      116         1
526           527      116         1
527           528      116         2
528           529      116         2
529           530      116         2
530           531      116         2
531           532      117         1
532           533      117         1
533           534      117         1
534           535      117         1
535           536      117         2
536           537      117         2
537           538      118         1
538           539      118         1

In [80]:
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)

6

In [85]:
rental

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1
5,6,2005-05-24 23:08:07,2792,549,2005-05-27 01:32:07,1
6,7,2005-05-24 23:11:53,3995,269,2005-05-29 20:34:53,2
7,8,2005-05-24 23:31:46,2346,239,2005-05-27 23:33:46,2
8,9,2005-05-25 00:00:40,2580,126,2005-05-28 00:22:40,1
9,10,2005-05-25 00:02:21,1824,399,2005-05-31 22:44:21,2
10,11,2005-05-25 00:09:02,4443,142,2005-06-02 20:56:02,2
11,12,2005-05-25 00:19:27,1584,261,2005-05-30 05:44:27,2
12,13,2005-05-25 00:22:55,2294,334,2005-05-30 04:28:55,1
13,14,2005-05-25 00:31:15,2701,446,2005-05-26 02:56:15,1
14,15,2005-05-25 00:39:22,3049,319,2005-06-03 03:30:22,1
15,16,2005-05-25 00:43:11,389,316,2005-05-26 04:42:11,2
16,17,2005-05-25 01:06:36,830,575,2005-05-27 00:43:36,1
17,18,2005-05-25 01:10:47,3376,19,2005-05-31 06:35:47,2
18,19,2005-05-25 01:17:24,1941,456,2005-05-31 06:00:24,1
19,20,2005-05-25 01:48:41,3517,185,2005-05-27 02:20:41,2
20,21,2005-05-25 01:59:46,146,388,2005-05-26 01:01:46,2
21,22,2005-05-25 02:19:23,727,509,2005-05-26 04:52:23,2
22,23,2005-05-25 02:40:21,4441,438,2005-05-29 06:34:21,1
23,24,2005-05-25 02:53:02,3273,350,2005-05-27 01:15:02,1
24,25,2005-05-25 03:21:20,3961,37,2005-05-27 21:25:20,2
25,26,2005-05-25 03:36:50,4371,371,2005-05-31 00:34:50,1
26,27,2005-05-25 03:41:50,1225,301,2005-05-30 01:13:50,2
27,28,2005-05-25 03:42:37,4068,232,2005-05-26 09:26:37,2
28,29,2005-05-25 03:47:12,611,44,2005-05-30 00:31:12,2
29,30,2005-05-25 04:01:32,3744,430,2005-05-30 03:12:32,1
30,31,2005-05-25 04:05:17,4482,369,2005-05-30 07:15:17,1
31,32,2005-05-25 04:06:21,3832,230,2005-05-25 23:55:21,1
32,33,2005-05-25 04:18:51,1681,272,2005-05-27 03:58:51,1
33,34,2005-05-25 04:19:28,2613,597,2005-05-29 00:10:28,2
34,35,2005-05-25 04:24:36,1286,484,2005-05-27 07:02:36,2
35,36,2005-05-25 04:36:26,1308,88,2005-05-29 00:31:26,1
36,37,2005-05-25 04:44:31,403,535,2005-05-29 01:03:31,1
37,38,2005-05-25 04:47:44,2540,302,2005-06-01 00:58:44,1
38,39,2005-05-25 04:51:46,4466,207,2005-05-31 03:14:46,2
39,40,2005-05-25 05:09:04,2638,413,2005-05-27 23:12:04,1
40,41,2005-05-25 05:12:29,1761,174,2005-06-02 00:28:29,1
41,42,2005-05-25 05:24:58,380,523,2005-05-31 02:47:58,2
42,43,2005-05-25 05:39:25,2578,532,2005-05-26 06:54:25,2
43,44,2005-05-25 05:53:23,3098,207,2005-05-29 10:56:23,2
44,45,2005-05-25 05:59:39,1853,436,2005-06-02 09:56:39,2
45,46,2005-05-25 06:04:08,3318,7,2005-06-02 08:18:08,2
46,47,2005-05-25 06:05:20,2211,35,2005-05-30 03:04:20,1
47,48,2005-05-25 06:20:46,1780,282,2005-06-02 05:42:46,1
48,49,2005-05-25 06:39:35,2965,498,2005-05-30 10:12:35,2
49,50,2005-05-25 06:44:53,1983,18,2005-05-28 11:28:53,2
50,51,2005-05-25 06:49:10,1257,256,2005-05-26 06:42:10,1
51,52,2005-05-25 06:51:29,4017,507,2005-05-31 01:27:29,2
52,53,2005-05-25 07:19:16,1255,569,2005-05-27 05:19:16,2
53,54,2005-05-25 07:23:25,2787,291,2005-06-01 05:05:25,2
54,55,2005-05-25 08:26:13,1139,131,2005-05-30 10:57:13,1
55,56,2005-05-25 08:28:11,1352,511,2005-05-26 14:21:11,1
56,57,2005-05-25 08:43:32,3938,6,2005-05-29 06:42:32,2
57,58,2005-05-25 08:53:14,3050,323,2005-05-28 14:40:14,1
58,59,2005-05-25 08:56:42,2884,408,2005-06-01 09:52:42,1
59,60,2005-05-25 08:58:25,330,470,2005-05-30 14:14:25,1
60,61,2005-05-25 09:01:57,4210,250,2005-06-02 07:22:57,2
61,62,2005-05-25 09:18:52,261,419,2005-05-30 10:55:52,1
62,63,2005-05-25 09:19:16,4008,383,2005-05-27 04:24:16,1
63,64,2005-05-25 09:21:29,79,368,2005-06-03 11:31:29,1
64,65,2005-05-25 09:32:03,3552,346,2005-05-29 14:21:03,1
65,66,2005-05-25 09:35:12,1162,86,2005-05-29 04:16:12,2
66,67,2005-05-25 09:41:01,239,119,2005-05-27 13:46:01,2
67,68,2005-05-25 09:47:31,4029,120,2005-05-31 10:20:31,2
68,69,2005-05-25 10:10:14,3207,305,2005-05-27 14:02:14,2
69,70,2005-05-25 10:15:23,2168,73,2005-05-27 05:56:23,2
70,71,2005-05-25 10:26:39,2408,100,2005-05-28 04:59:39,1
71,72,2005-05-25 10:52:13,2260,48,2005-05-28 05:52:13,2
72,73,2005-05-25 11:00:07,517,391,2005-06-01 13:56:07,2
73,74,2005-05-25 11:09:48,1744,265,2005-05-26 12:23:48,2
74,75,2005-05-25 11:13:34,3393,510,2005-06-03 12:58:34,1
75,76,2005-05-25 11:30:37,3021,1,2005-06-03 12:00:37,2
76,77,2005-05-25 11:31:59,1303,451,2005-05-26 16:53:59,2
77,78,2005-05-25 11:35:18,4067,135,2005-05-31 12:48:18,2
78,79,2005-05-25 12:11:07,3299,245,2005-06-03 10:54:07,2
79,80,2005-05-25 12:12:07,2478,314,2005-05-31 17:46:07,2
80,81,2005-05-25 12:15:19,2610,286,2005-06-02 14:08:19,2
81,82,2005-05-25 12:17:46,1388,427,2005-06-01 10:48:46,1
82,83,2005-05-25 12:30:15,466,131,2005-05-27 15:40:15,1
83,84,2005-05-25 12:36:30,1829,492,2005-05-29 18:33:30,1
84,85,2005-05-25 13:05:34,470,414,2005-05-29 16:53:34,1
85,86,2005-05-25 13:36:12,2275,266,2005-05-30 14:53:12,1
86,87,2005-05-25 13:52:43,1586,331,2005-05-29 11:12:43,2
87,88,2005-05-25 14:13:54,2221,53,2005-05-29 09:32:54,2
88,89,2005-05-25 14:28:29,2181,499,2005-05-29 14:33:29,1
89,90,2005-05-25 14:31:25,2984,25,2005-06-01 10:07:25,1
90,91,2005-05-25 14:57:22,139,267,2005-06-01 18:32:22,1
91,92,2005-05-25 15:38:46,775,302,2005-05-31 13:40:46,2
92,93,2005-05-25 15:54:16,4360,288,2005-06-03 20:18:16,1
93,94,2005-05-25 16:03:42,1675,197,2005-05-30 14:23:42,1
94,95,2005-05-25 16:12:52,178,400,2005-06-02 18:55:52,2
95,96,2005-05-25 16:32:19,3418,49,2005-05-30 10:47:19,2
96,97,2005-05-25 16:34:24,1283,263,2005-05-28 12:13:24,2
97,98,2005-05-25 16:48:24,2970,269,2005-05-27 11:29:24,2
98,99,2005-05-25 16:50:20,535,44,2005-05-28 18:52:20,1
99,100,2005-05-25 16:50:28,2599,208,2005-06-02 22:11:28,1
100,101,2005-05-25 17:17:04,617,468,2005-05-31 19:47:04,1
101,102,2005-05-25 17:22:10,373,343,2005-05-31 19:47:10,1
102,103,2005-05-25 17:30:42,3343,384,2005-06-03 22:36:42,1
103,104,2005-05-25 17:46:33,4281,310,2005-05-27 15:20:33,1
104,105,2005-05-25 17:54:12,794,108,2005-05-30 12:03:12,2
105,106,2005-05-25 18:18:19,3627,196,2005-06-04 00:01:19,2
106,107,2005-05-25 18:28:09,2833,317,2005-06-03 22:46:09,2
107,108,2005-05-25 18:30:05,3289,242,2005-05-30 19:40:05,1
108,109,2005-05-25 18:40:20,1044,503,2005-05-29 20:39:20,2
109,110,2005-05-25 18:43:49,4108,19,2005-06-03 18:13:49,2
110,111,2005-05-25 18:45:19,3725,227,2005-05-28 17:18:19,1
111,112,2005-05-25 18:57:24,2153,500,2005-06-02 20:44:24,1
112,113,2005-05-25 19:07:40,2963,93,2005-05-27 22:16:40,2
113,114,2005-05-25 19:12:42,4502,506,2005-06-01 23:10:42,1
114,115,2005-05-25 19:13:25,749,455,2005-05-29 20:17:25,1
115,116,2005-05-25 19:27:51,4453,18,2005-05-26 16:23:51,1
116,117,2005-05-25 19:30:46,4278,7,2005-05-31 23:59:46,2
117,118,2005-05-25 19:31:18,872,524,2005-05-31 15:00:18,1
118,119,2005-05-25 19:37:02,1359,51,2005-05-29 23:51:02,2
119,120,2005-05-25 19:37:47,37,365,2005-06-01 23:29:47,2
120,121,2005-05-25 19:41:29,1053,405,2005-05-29 21:31:29,1
121,122,2005-05-25 19:46:21,2908,273,2005-06-02 19:07:21,1
122,123,2005-05-25 20:26:42,1795,43,2005-05-26 19:41:42,1
123,124,2005-05-25 20:46:11,212,246,2005-05-30 00:47:11,2
124,125,2005-05-25 20:48:50,952,368,2005-06-02 21:39:50,1
125,126,2005-05-25 21:07:59,2047,439,2005-05-28 18:51:59,1
126,127,2005-05-25 21:10:40,2026,94,2005-06-02 21:38:40,1
127,128,2005-05-25 21:19:53,4322,40,2005-05-29 23:34:53,1
128,129,2005-05-25 21:20:03,4154,23,2005-06-04 01:25:03,2
129,130,2005-05-25 21:21:56,3990,56,2005-05-30 22:41:56,2
130,131,2005-05-25 21:42:46,815,325,2005-05-30 23:25:46,2
131,132,2005-05-25 21:46:54,3367,479,2005-05-31 21:02:54,1
132,133,2005-05-25 21:48:30,399,237,2005-05-30 00:26:30,2
133,134,2005-05-25 21:48:41,2272,222,2005-06-02 18:28:41,1
134,135,2005-05-25 21:58:58,103,304,2005-06-03 17:50:58,1
135,136,2005-05-25 22:02:30,2296,504,2005-05-31 18:06:30,1
136,137,2005-05-25 22:25:18,2591,560,2005-06-01 02:30:18,2
137,138,2005-05-25 22:48:22,4134,586,2005-05-29 20:21:22,2
138,139,2005-05-25 23:00:21,327,257,2005-05-29 17:12:21,1
139,140,2005-05-25 23:34:22,655,354,2005-05-27 01:10:22,1
140,141,2005-05-25 23:34:53,811,89,2005-06-02 01:57:53,1
141,142,2005-05-25 23:43:47,4407,472,2005-05-29 00:46:47,2
142,143,2005-05-25 23:45:52,847,297,2005-05-27 21:41:52,2
143,144,2005-05-25 23:49:56,1689,357,2005-06-01 21:41:56,2
144,145,2005-05-25 23:59:03,3905,82,2005-05-31 02:56:03,1
145,146,2005-05-26 00:07:11,1431,433,2005-06-04 00:20:11,2
146,147,2005-05-26 00:17:50,633,274,2005-05-29 23:21:50,2
147,148,2005-05-26 00:25:23,4252,142,2005-06-01 19:29:23,2
148,149,2005-05-26 00:28:05,1084,319,2005-06-02 21:30:05,2
149,150,2005-05-26 00:28:39,909,429,2005-06-01 02:10:39,2
150,151,2005-05-26 00:37:28,2942,14,2005-05-30 06:28:28,1
151,152,2005-05-26 00:41:10,2622,57,2005-06-03 06:05:10,1
152,153,2005-05-26 00:47:47,3888,348,2005-05-27 21:28:47,1
153,154,2005-05-26 00:55:56,1354,185,2005-05-29 23:18:56,2
154,155,2005-05-26 01:15:05,288,551,2005-06-01 00:03:05,1
155,156,2005-05-26 01:19:05,3193,462,2005-05-27 23:43:05,1
156,157,2005-05-26 01:25:21,887,344,2005-05-26 21:17:21,2
157,158,2005-05-26 01:27:11,2395,354,2005-06-03 00:30:11,2
158,159,2005-05-26 01:34:28,3453,505,2005-05-29 04:00:28,1
159,160,2005-05-26 01:46:20,1885,290,2005-06-01 05:45:20,1
160,161,2005-05-26 01:51:48,2941,182,2005-05-27 05:42:48,1
161,162,2005-05-26 02:02:05,1229,296,2005-05-27 03:38:05,2
162,163,2005-05-26 02:26:23,2306,104,2005-06-04 06:36:23,1
163,164,2005-05-26 02:26:49,1070,151,2005-05-28 00:32:49,1
164,165,2005-05-26 02:28:36,2735,33,2005-06-02 03:21:36,1
165,166,2005-05-26 02:49:11,3894,322,2005-05-31 01:28:11,1
166,167,2005-05-26 02:50:31,865,401,2005-05-27 03:07:31,1
167,168,2005-05-26 03:07:43,2714,469,2005-06-02 02:09:43,2
168,169,2005-05-26 03:09:30,1758,381,2005-05-27 01:37:30,2
169,170,2005-05-26 03:11:12,3688,107,2005-06-02 03:53:12,1
170,171,2005-05-26 03:14:15,4483,400,2005-06-03 00:24:15,2
171,172,2005-05-26 03:17:42,2873,176,2005-05-29 04:11:42,2
172,173,2005-05-26 03:42:10,3596,533,2005-05-28 01:37:10,2
173,174,2005-05-26 03:44:10,3954,552,2005-05-28 07:13:10,2
174,175,2005-05-26 03:46:26,4346,47,2005-06-03 06:01:26,2
175,176,2005-05-26 03:47:39,851,250,2005-06-01 02:36:39,2
176,177,2005-05-26 04:14:29,3545,548,2005-06-01 08:16:29,2
177,178,2005-05-26 04:21:46,1489,196,2005-06-04 07:09:46,2
178,179,2005-05-26 04:26:06,2575,19,2005-06-03 10:06:06,1
179,180,2005-05-26 04:46:23,2752,75,2005-06-01 09:58:23,1
180,181,2005-05-26 04:47:06,2417,587,2005-05-29 06:34:06,2
181,182,2005-05-26 04:49:17,4396,237,2005-06-01 05:43:17,2
182,183,2005-05-26 05:01:18,2877,254,2005-06-01 09:04:18,1
183,184,2005-05-26 05:29:49,1970,556,2005-05-28 10:10:49,1
184,185,2005-05-26 05:30:03,2598,125,2005-06-02 09:48:03,2
185,186,2005-05-26 05:32:52,1799,468,2005-06-03 07:19:52,2
186,187,2005-05-26 05:42:37,4004,515,2005-06-04 00:38:37,1
187,188,2005-05-26 05:47:12,3342,243,2005-05-26 23:48:12,1
188,189,2005-05-26 06:01:41,984,247,2005-05-27 06:11:41,1
189,190,2005-05-26 06:11:28,3962,533,2005-06-01 09:44:28,1
190,191,2005-05-26 06:14:06,4365,412,2005-05-28 05:33:06,1
191,192,2005-05-26 06:20:37,1897,437,2005-06-02 10:57:37,1
192,193,2005-05-26 06:41:48,3900,270,2005-05-30 06:21:48,2
193,194,2005-05-26 06:52:33,1337,29,2005-05-30 04:08:33,2
194,195,2005-05-26 06:52:36,506,564,2005-05-31 02:47:36,2
195,196,2005-05-26 06:55:58,190,184,2005-05-27 10:54:58,1
196,197,2005-05-26 06:59:21,4212,546,2005-06-03 05:04:21,2
197,198,2005-05-26 07:03:49,1789,54,2005-06-04 11:45:49,1
198,199,2005-05-26 07:11:58,2135,71,2005-05-28 09:06:58,1
199,200,2005-05-26 07:12:21,3926,321,2005-05-31 12:07:21,1
200,201,2005-05-26 07:13:45,776,444,2005-06-04 02:02:45,2
201,202,2005-05-26 07:27:36,674,20,2005-06-02 03:52:36,1
202,203,2005-05-26 07:27:57,3374,109,2005-06-03 12:52:57,1
203,204,2005-05-26 07:30:37,1842,528,2005-05-30 08:11:37,1
204,205,2005-05-26 07:59:37,303,114,2005-05-29 09:43:37,2
205,206,2005-05-26 08:01:54,1717,345,2005-05-27 06:26:54,1
206,207,2005-05-26 08:04:38,102,47,2005-05-27 09:32:38,2
207,208,2005-05-26 08:10:22,3669,274,2005-05-27 03:55:22,1
208,209,2005-05-26 08:14:01,729,379,2005-05-27 09:00:01,1
209,210,2005-05-26 08:14:15,1801,391,2005-05-27 12:12:15,2
210,211,2005-05-26 08:33:10,4005,170,2005-05-28 14:09:10,1
211,212,2005-05-26 08:34:41,764,59,2005-05-30 12:46:41,2
212,213,2005-05-26 08:44:08,1505,394,2005-05-31 12:33:08,2
213,214,2005-05-26 08:48:49,1453,98,2005-05-31 04:06:49,2
214,215,2005-05-26 09:02:47,679,197,2005-05-28 09:45:47,2
215,216,2005-05-26 09:17:43,1398,91,2005-06-03 08:21:43,1
216,217,2005-05-26 09:24:26,4395,121,2005-05-31 03:24:26,2
217,218,2005-05-26 09:27:09,2291,309,2005-06-04 11:53:09,2
218,219,2005-05-26 09:41:45,3074,489,2005-05-28 04:40:45,1
219,220,2005-05-26 10:06:49,1259,542,2005-06-01 07:43:49,1
220,221,2005-05-26 10:14:09,3578,143,2005-05-29 05:57:09,1
221,222,2005-05-26 10:14:38,2745,83,2005-05-31 08:36:38,2
222,223,2005-05-26 10:15:23,3121,460,2005-05-30 11:43:23,1
223,224,2005-05-26 10:18:27,4285,318,2005-06-04 06:59:27,1
224,225,2005-05-26 10:27:50,651,467,2005-06-01 07:01:50,2
225,226,2005-05-26 10:44:04,4181,221,2005-05-31 13:26:04,2
226,227,2005-05-26 10:51:46,214,301,2005-05-30 07:24:46,1
227,228,2005-05-26 10:54:28,511,571,2005-06-04 09:39:28,1
228,229,2005-05-26 11:19:20,1131,312,2005-05-31 11:56:20,2
229,230,2005-05-26 11:31:50,1085,58,2005-05-30 15:22:50,1
230,231,2005-05-26 11:31:59,4032,365,2005-05-27 07:27:59,1
231,232,2005-05-26 11:38:05,2945,256,2005-05-27 08:42:05,2
232,233,2005-05-26 11:43:44,715,531,2005-05-28 17:28:44,2
233,234,2005-05-26 11:47:20,1321,566,2005-06-03 10:39:20,2
234,235,2005-05-26 11:51:09,3537,119,2005-06-04 09:36:09,1
235,236,2005-05-26 11:53:49,1265,446,2005-05-28 13:55:49,1
236,237,2005-05-26 12:15:13,241,536,2005-05-29 18:10:13,1
237,238,2005-05-26 12:30:22,503,211,2005-05-27 06:49:22,1
238,239,2005-05-26 12:30:26,131,49,2005-06-01 13:26:26,2
239,240,2005-05-26 12:40:23,3420,103,2005-06-04 07:22:23,1
240,241,2005-05-26 12:49:01,4438,245,2005-05-28 11:43:01,2
241,242,2005-05-26 13:05:08,2095,214,2005-06-02 15:26:08,1
242,243,2005-05-26 13:06:05,1721,543,2005-06-03 17:28:05,2
243,244,2005-05-26 13:40:40,1041,257,2005-05-31 11:58:40,1
244,245,2005-05-26 13:46:59,3045,158,2005-05-27 09:58:59,2
245,246,2005-05-26 13:57:07,2829,240,2005-05-29 10:12:07,2
246,247,2005-05-26 14:01:05,4095,102,2005-05-28 13:38:05,2
247,248,2005-05-26 14:07:58,1913,545,2005-05-31 14:03:58,2
248,249,2005-05-26 14:19:09,2428,472,2005-05-28 17:47:09,2
249,250,2005-05-26 14:30:24,368,539,2005-05-27 08:50:24,1
250,251,2005-05-26 14:35:40,4352,204,2005-05-29 17:17:40,1
251,252,2005-05-26 14:39:53,1203,187,2005-06-02 14:48:53,1
252,253,2005-05-26 14:43:14,2969,416,2005-05-27 12:21:14,1
253,254,2005-05-26 14:43:48,1835,390,2005-05-31 09:19:48,2
254,255,2005-05-26 14:52:15,3264,114,2005-05-27 12:45:15,1
255,256,2005-05-26 15:20:58,3194,436,2005-05-31 15:58:58,1
256,257,2005-05-26 15:27:05,2570,373,2005-05-29 16:25:05,2
257,258,2005-05-26 15:28:14,3534,502,2005-05-30 18:38:14,2
258,259,2005-05-26 15:32:46,30,482,2005-06-04 15:27:46,2
259,260,2005-05-26 15:42:20,435,21,2005-05-31 13:21:20,2
260,261,2005-05-26 15:44:23,1369,414,2005-06-02 09:47:23,2
261,262,2005-05-26 15:46:56,4261,236,2005-05-28 15:49:56,2
262,263,2005-05-26 15:47:40,1160,449,2005-05-30 10:07:40,2
263,264,2005-05-26 16:00:49,2069,251,2005-05-27 10:12:49,2
264,265,2005-05-26 16:07:38,2276,303,2005-06-01 14:20:38,1
265,266,2005-05-26 16:08:05,3303,263,2005-05-27 10:55:05,2
266,267,2005-05-26 16:16:21,1206,417,2005-05-30 16:53:21,2
267,268,2005-05-26 16:19:08,1714,75,2005-05-27 14:35:08,1
268,269,2005-05-26 16:19:46,3501,322,2005-05-27 15:59:46,2
269,270,2005-05-26 16:20:56,207,200,2005-06-03 12:40:56,2
270,271,2005-05-26 16:22:01,2388,92,2005-06-03 17:30:01,2
271,272,2005-05-26 16:27:11,971,71,2005-06-03 13:10:11,2
272,273,2005-05-26 16:29:36,1590,193,2005-05-29 18:49:36,2
273,274,2005-05-26 16:48:51,656,311,2005-06-03 18:17:51,1
274,275,2005-05-26 17:09:53,1718,133,2005-06-04 22:35:53,1
275,276,2005-05-26 17:16:07,1221,58,2005-06-03 12:59:07,1
276,277,2005-05-26 17:32:11,1409,45,2005-05-28 22:54:11,1
277,278,2005-05-26 17:40:58,182,214,2005-06-02 16:43:58,2
278,279,2005-05-26 18:02:50,661,384,2005-06-03 18:48:50,2
279,280,2005-05-26 18:36:58,1896,167,2005-05-27 23:42:58,1
280,281,2005-05-26 18:49:35,1208,582,2005-05-27 18:11:35,2
281,282,2005-05-26 18:56:26,4486,282,2005-06-01 16:32:26,2
282,283,2005-05-26 19:05:05,3530,242,2005-05-31 19:19:05,1
283,284,2005-05-26 19:21:44,350,359,2005-06-04 14:18:44,2
284,285,2005-05-26 19:41:40,2486,162,2005-05-31 16:58:40,2
285,286,2005-05-26 19:44:51,314,371,2005-06-04 18:00:51,2
286,287,2005-05-26 19:44:54,3631,17,2005-06-02 01:10:54,1
287,288,2005-05-26 19:47:49,3546,82,2005-06-03 20:53:49,2
288,289,2005-05-26 20:01:09,2449,81,2005-05-28 15:09:09,1
289,290,2005-05-26 20:08:33,2776,429,2005-05-30 00:32:33,1
290,291,2005-05-26 20:20:47,485,577,2005-06-03 02:06:47,2
291,292,2005-05-26 20:22:12,4264,515,2005-06-05 00:58:12,1
292,293,2005-05-26 20:27:02,1828,158,2005-06-03 16:45:02,2
293,294,2005-05-26 20:29:57,2751,369,2005-05-28 17:20:57,1
294,295,2005-05-26 20:33:20,4030,65,2005-05-27 18:23:20,2
295,296,2005-05-26 20:35:19,3878,468,2005-06-04 02:31:19,2
296,297,2005-05-26 20:48:48,1594,48,2005-05-27 19:52:48,2
297,298,2005-05-26 20:52:26,1083,460,2005-05-29 22:08:26,2
298,299,2005-05-26 20:55:36,4376,448,2005-05-28 00:25:36,2
299,300,2005-05-26 20:57:00,249,47,2005-06-05 01:34:00,2
300,301,2005-05-26 21:06:14,3448,274,2005-06-01 01:54:14,2
301,302,2005-05-26 21:13:46,2921,387,2005-06-03 15:49:46,2
302,303,2005-05-26 21:16:52,1111,596,2005-05-27 23:41:52,2
303,304,2005-05-26 21:21:28,1701,534,2005-06-02 00:05:28,1
304,305,2005-05-26 21:22:07,2665,464,2005-06-02 22:33:07,2
305,306,2005-05-26 21:31:57,2781,547,2005-05-28 19:37:57,1
306,307,2005-05-26 21:48:13,1097,375,2005-06-04 22:24:13,1
307,308,2005-05-26 22:01:39,187,277,2005-06-04 20:24:39,2
308,309,2005-05-26 22:38:10,1946,251,2005-06-02 03:10:10,2
309,310,2005-05-26 22:41:07,593,409,2005-06-02 04:09:07,1
310,311,2005-05-26 22:51:37,2830,201,2005-06-01 00:02:37,1
311,312,2005-05-26 22:52:19,2008,143,2005-06-02 18:14:19,2
312,313,2005-05-26 22:56:19,4156,594,2005-05-29 01:29:19,2
313,314,2005-05-26 23:09:41,2851,203,2005-05-28 22:49:41,2
314,315,2005-05-26 23:12:55,2847,238,2005-05-29 23:33:55,1
315,316,2005-05-26 23:22:55,3828,249,2005-05-29 23:25:55,2
316,317,2005-05-26 23:23:56,26,391,2005-06-01 19:56:56,2
317,318,2005-05-26 23:37:39,2559,60,2005-06-03 04:31:39,2
318,319,2005-05-26 23:52:13,3024,77,2005-05-30 18:55:13,1
319,320,2005-05-27 00:09:24,1090,2,2005-05-28 04:30:24,2
320,322,2005-05-27 00:47:35,4556,496,2005-06-02 00:32:35,1
321,323,2005-05-27 00:49:27,2362,144,2005-05-30 03:12:27,1
322,324,2005-05-27 01:00:04,3364,292,2005-05-30 04:27:04,1
323,325,2005-05-27 01:09:55,2510,449,2005-05-31 07:01:55,2
324,326,2005-05-27 01:10:11,3979,432,2005-06-04 20:25:11,2
325,327,2005-05-27 01:18:57,2678,105,2005-06-04 04:06:57,1
326,328,2005-05-27 01:29:31,2524,451,2005-06-01 02:27:31,1
327,329,2005-05-27 01:57:14,2659,231,2005-05-31 04:19:14,2
328,330,2005-05-27 02:15:30,1536,248,2005-06-04 05:09:30,2
329,331,2005-05-27 02:22:26,1872,67,2005-06-05 00:25:26,1
330,332,2005-05-27 02:27:10,1529,299,2005-06-03 01:26:10,2
331,333,2005-05-27 02:52:21,4001,412,2005-06-01 00:55:21,2
332,334,2005-05-27 03:03:07,3973,194,2005-05-29 03:54:07,1
333,335,2005-05-27 03:07:10,1411,16,2005-06-05 00:15:10,2
334,336,2005-05-27 03:15:23,1811,275,2005-05-29 22:43:23,1
335,337,2005-05-27 03:22:30,751,19,2005-06-02 03:27:30,1
336,338,2005-05-27 03:42:52,2596,165,2005-06-01 05:23:52,2
337,339,2005-05-27 03:47:18,2410,516,2005-06-04 05:46:18,2
338,340,2005-05-27 03:55:25,946,209,2005-06-04 07:57:25,2
339,341,2005-05-27 04:01:42,4168,56,2005-06-05 08:51:42,1
340,342,2005-05-27 04:11:04,4019,539,2005-05-29 01:28:04,2
341,343,2005-05-27 04:13:41,3301,455,2005-05-28 08:34:41,1
342,344,2005-05-27 04:30:22,2327,236,2005-05-29 10:13:22,2
343,345,2005-05-27 04:32:25,1396,144,2005-05-31 09:50:25,1

In [82]:
old_hdd.to_sql(name='old_HDD', con=cursor, if_exists='replace', index=False)

1000

In [83]:
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

1000